<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 2043</h1>
      <h2>Unix Tools and Scripting</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Gates G01<br/>
        Lecture: MWF 11:15am - 12:05pm<br/>
        Course material: <a href="https://github.coecis.cornell.edu/cs2043-sp17">GitHub</a><br/>
        Discussion: <a href="piazza.com/cornell/spring2017/cs2043">Piazza</a><br/>
        Grades: <a href="http://cms.csuglab.cornell.edu">CMS</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Lecturer: Stephen McDowell<br/>
        Email: <a href="mailto:sjm324@cornell.edu?subject=[CS 2043]">sjm324@cornell.edu</a><br/>
        Office Hours:
        <ul>
          <li><strong>Thursday</strong>: 4:00pm - 5:00pm, Gates G19
          <li><strong>Friday</strong>: 2:00pm - 3:00pm, Gates G19</li>
        </ul>
      </p>
    </div>
    </div>
  </div>
</div>
